.x-color-picker {
    width: 192px;
    height: 120px;
    background-color: #fff;
    border-color: #fff;
    border-width: 0;
    border-style: solid;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/classic/theme-neutral/sass/src/picker/Color.scss:10 */
.x-color-picker-item {
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
    cursor: pointer;
    padding: 2px;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/classic/theme-neutral/sass/src/picker/Color.scss:22 */
a.x-color-picker-item:hover {
    border-color: #8bb8f3;
    background-color: #d9d9d9;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/classic/theme-neutral/sass/src/picker/Color.scss:27 */
.x-color-picker-selected {
    border-color: #8bb8f3;
    background-color: #d9d9d9;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/classic/theme-neutral/sass/src/picker/Color.scss:32 */
.x-color-picker-item-inner {
    line-height: 16px;
    border-color: #d0d0d0;
    border-width: 1px;
    border-style: solid;
}

/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/classic/theme-base/sass/src/picker/Color.scss:1 */
.x-color-picker-item {
    float: left;
    text-decoration: none;
}
/* /Users/space/buildAgent/work/8cc7421dd8da164c/staging/classic/theme-base/sass/src/picker/Color.scss:6 */
.x-color-picker-item-inner {
    display: block;
    font-size: 1px;
}